<div class="story-card">
    <a href="{% url 'news:story' story.id %}">
        {% if story.image_url %}
            <img src="{{ story.image_url }}">
        {% else %}
            <img src="https://picsum.photos/300?random={{ story.id }}">
        {% endif %}
        <div class="story-card-text">
            <center><h4>{{ story.title }}</h4></center>
            <center><p>{{ story.author }} | {{ story.pub_date }}</p></center>
        </div>
    </a>
</div>

<!-- id="story-card-{{ position }} -->
